<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar | POEV</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <style>
        body {
                background-color: #F5F5F5; /* Branco suave */
        }
        {% include 'paginas/css.html' %}
    </style>
</head>
<body>
    {% include 'paginas/navbar.html' %}

    <div class="container">
        <div class="text-center">
 <h1 class="display-5 fw-bold">Contato</h1>
  <p>Ficou com alguma dúvida? Entre em contato!</p>
  <p><a href="mailto:vinhedo@polo.univesp.br">Email do Polo de Vinhedo</a></p>
  <p>Ou pelo telefone: (19) 3826 7800 - Ramal 2460</p>
  <p>Obrigado!</p>

        </div>
    </div>

    <div class="footer-container">
        <footer>
            <p>Desenvolvido por alunos da <a href="https://www.univesp.br" target="_blank">Univesp </a> do Polo de Vinhedo &copy; 2024</p>

        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>




